* {
    font-family: 'Merriweather', serif;
}

body {
    background-color: #362735;
}

/*Header start*/
header {
    padding-top: 2.5em;
    box-sizing: border-box;
    padding-bottom: 10.5rem;
    max-height: 70rem;
}

.menu-links {
    display: flex;
    overflow: hidden;
    list-style: none;
    font-size: 20px;
}

.menu-links li {
    /*margin: auto 0;*/
    display: flex;
    justify-content: space-around;
    margin: auto auto;
}

li {
    overflow: hidden;
}

a {
    background: transparent;
    text-decoration: none;
    color: #9DDDC4;
}

nav ul li{
    z-index: 7;
}

.logo {
    font-size: 1rem;
}

.hero-quote {
    align-content: center;
    text-align: center;
    padding-bottom: 20.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero-quote h1 {
    font-size: 5rem;
    color: #9dddc4;
}


.header-header {
    width: 100%;
}

.home-hero-video {
    z-index: 5;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

header .hero-quote {
    position: relative;
    z-index: 6;
    padding-top: 15rem;
}

/*Header end*/


/*Index page Start*/
.portion-one {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15rem;
    height: 100%;
}

.personal-image {
    margin-bottom: 14rem;
    padding-bottom: 4rem;
}

.body-photo {
    height: 36rem;
}

.focus-goal-passion {
    margin: auto auto;
    height: 50rem;
    width: 75rem;
}

.focus-goal-passion h2 {
    font-size: 3rem;
    color: #9DDDC4;
}

.focus-goal-passion p {
    font-size: 2.5rem;
    color: #9DDDC4;
}

input {
    color: #9DDDC4;
    background-color: transparent;
    border: 1px solid #E87F21;
    font-size: 1.5rem;
    cursor: pointer;
    letter-spacing: .1rem;
    padding: 0.5rem;
}

.project-headline {
    align-items: center;
    text-align: center;
    padding: 5rem;
    color: #9DDDC4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-headline h3 {
    font-size: 2rem;
    padding-right: 53.5rem;
}

.project-headline p {
    font-size: 2.5rem;
}

.row {
    display: flex;
    max-width: 1280vw;
    justify-content: space-around;
    padding-bottom: 25rem;
    padding-top: 5rem;
}

.project-1-card {
    position: relative;
    width: 37rem;
    color: #9dddc4;
}

.project-1-img {
    width: 37rem;
}

.project-2-img {
    width: 37rem;
}

.project-2-card {
    position: relative;
    width: 31rem;
    color: #9dddc4;
}

/*Index page end*/

footer {
    flex-direction: row;
    justify-content: space-around;
}

.footer-menu-links {
    display: flex;
    justify-content: space-around;
}

.footer-menu-links li {
    display: flex;
    justify-content: space-around;
}

.footer-page-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-page-links li {
    justify-content: space-around;
    margin: 0 1rem;
}

.footer-name-logo {
    font-size: 3rem;
}

.copyright {
    color: #9DDDC4;
    text-align: center;
}






































@media (max-width: 1920px) {
    header .hero-quote {
        padding-top: 6rem;
    }
}