* {
    font-family: 'Merriweather', serif;
}

body {
    background-color: #362735;
}

main {
    overflow: hidden;
}

/*Header start*/
header {
    padding-top: 2.5em;
    box-sizing: border-box;
    padding-bottom: 10.5rem;
    max-height: 70rem;
}

.menu-links {
    display: flex;
    overflow: hidden;
    list-style: none;
    font-size: 20px;
}

.menu-links li {
    margin: auto auto;
}

li {
    overflow: hidden;
}

a {
    background: transparent;
    text-decoration: none;
    color: #9DDDC4;
}

nav ul li {
    z-index: 7;
}

.sub-menu-content {
    display: none;
}

.dropdown:hover .sub-menu-content {
    display: block;
    position: absolute;
    background-color: rgba(54, 39, 53, 0.75);
    box-shadow: 0px 2px 8px #C7ADF6;
}

.sub-menu-content li {
    display: block;
    margin: 1.5rem;
    width: 10rem;
}

ul .sub-menu-content li a:hover {
    color: red;
    background-color: #fff;
}

.logo {
    font-size: 3rem;
}

.hero-quote {
    align-content: center;
    text-align: center;
    padding-bottom: 20.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero-quote h1 {
    font-size: 5rem;
    color: #9dddc4;
}


.header-header {
    width: 100%;
}

.home-hero-video {
    z-index: 5;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.works-hero-video {
    z-index: 5;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.55;
}

.about-hero-image {
    z-index: 6;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    height: 68.5rem;
    background-attachment: fixed;
}

header .hero-quote {
    position: relative;
    z-index: 6;
    padding-top: 15rem;
}

/*Header end*/


/*Index page Start*/
.portion-one {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25rem;
    height: 100%;
}

.personal-image {
    margin-bottom: 14rem;
    padding-bottom: 4rem;
}

.body-photo {
    height: 36rem;
}

.focus-goal-passion {
    margin: auto auto;
    height: 50rem;
    width: 75rem;
}

.focus-goal-passion h2 {
    font-size: 3rem;
    color: #9DDDC4;
}

.focus-goal-passion p {
    font-size: 2.5rem;
    color: #9DDDC4;
}

input {
    color: #9DDDC4;
    background-color: transparent;
    border: 1px solid #E87F21;
    font-size: 1.5rem;
    cursor: pointer;
    letter-spacing: .1rem;
    padding: 0.5rem;
}

.project-headline {
    align-items: center;
    text-align: center;
    padding: 5rem;
    padding-bottom: 4rem;
    color: #9DDDC4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-headline h3 {
    font-size: 2rem;
    padding-right: 53.5rem;
}

.project-headline p {
    font-size: 2.5rem;
}

.work-carousel {
    display: flex;
    max-width: 1280vw;
    justify-content: space-around;
    padding-bottom: 55rem;
    padding-top: 5rem;
}

.project-1-card {
    position: relative;
}

.project-1-img {
    width: 45rem;
    height: 35rem;
    position: relative;
    overflow: hidden;
    border-radius: 10%;
    box-shadow: 4px 4px 4px 0px rgb(255 255 255 / 0.2);
}

.project-2-img {
    width: 45rem;
    height: 35rem;
    position: relative;
    overflow: hidden;
    border-radius: 10%;
    box-shadow: 4px 5px 4px 0px rgb(255 255 255 / 0.2);
}

.project-2-card {
    position: relative;
}

article h3 {
    color: #E87F21;
}

.items {
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.items .item {
    position: absolute;
    width: 20rem;
    height: 39rem;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
    width: 40rem;
}

.item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-25%, 0%);
}

.item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, 0%);
    width: 35rem;
}

.items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(8%, -50%);
    width: 34.45rem;
    z-index: 100;
}

.button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
}

.button-container .button:hover {
    opacity: 1;
}

.button-container .button:before {
    content: "";
    position: absolute;
    transform: translate(-205%, 650%);
    width: 5rem;
    height: 50px;
    background-color: rgba(255, 0, 0, 1);
    z-index: -99;
}

.button-container .button:nth-child(1) {
    float: left;
}

.button-container .button:nth-child(2) {
    float: right;
}

.article-content-1 {
    padding-top: 38rem;
}

.items h3 a {
    color: #E87F21;
    font-size: 30px;
}

.items a {
    width: 1rem;
}

.project-2-card div h3 {
    color: #9DDDC4;
    font-size: 3rem;
}

.project-2-card div p {
    font-size: 1rem;
}

/*Index page end*/

/*Works Page start*/
.works-portion-one {
    padding-top: 25rem;
}

.works-portion-content {
    margin: auto auto;
    height: 50rem;
    width: 75rem;
}

.works-portion-content h2 {
    font-size: 3rem;
    color: #9DDDC4;
}

.works-portion-content p {
    font-size: 2.5rem;
    color: #9DDDC4;
}

.row {
    display: flex;
    max-width: 100%;
    margin: auto auto 5em;
    justify-content: space-around;
    padding-bottom: 15rem;
}

.work {
    border-radius: 1em;
    border: 0.5px solid black;
    position: relative;
    box-shadow: 1px 3px 5px grey;
    width: 20vw;
    background-color: #7867AF;
}

.work img {
    border-radius: 1em;
    width: 20vw;
    height: 17.5vw;
}

.work h4 {
    color: #fff;
    opacity: .8;
}

.work p {
    color: #9DDDC4
}

.about-me-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10rem;
}

.about-me-text h2 {
    color: #9DDDC4;
    padding-left: 5rem;
    font-size: 3rem;
}

.about-me-text p {
    color: #9DDDC4;
    max-width: 50%;
    padding-left: 35rem;
    font-size: 1.5rem;
    overflow-y: scroll;
    max-height: 39rem;
}

/*Works Page end*/

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.footer-name-logo {
    font-size: 3rem;
}

.footer-container ul {
    margin: auto auto;
}

.copyright {
    color: #9DDDC4;
}

.email,
.telephone,
.copyright {
    color: #E87F21;
}



































@media (max-width: 1920px) {
    header .hero-quote {
        padding-top: 6rem;
    }
}